<div class="row">
  <div class="col-8 offset-2">
    <h3 class="mt-5 text-center">Download Youtube videos now!</h3>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter Search Terms">
      <div class="input-group-append">
        <span class="input-group-text">Search</span>
      </div>
    </div>
  </div>
</div>
